.ladingPage {
  background-image: url(../../assets/backgroundLand.png);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content-org {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
}

.creditos {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #797979b1;
}

@media screen and (max-width: 768px) {
  .content-org {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ladingPage {
    background-image: url(../../assets/backgroundLand.png);
    width: 768px;
    height: 100%;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 450px) {
  .content-org {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ladingPage {
    background-image: url(../../assets/backgroundLand.png);
    width: 450px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}