.rodape-content {
  display: flex;
  flex-direction: row;
  margin-left: 37.5%;
  justify-content: space-around;
  gap: 25vw;
}

.items {
  color: #0e676d;
  font-size: 32px;
  align-items: center;
  padding-bottom: 2%;
  border: none;
}

.items:hover {
  border: none;
}