.item {
  min-width: 29.5rem;
  min-height: 25rem;
  padding: 20px;
  margin-top: 2%;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  pointer-events: none;
  opacity: 1;
  display: flex;
}


.inner-carousel {
  display: flex;
  background: transparent;
  width: 80%;
}


.carousel {
  cursor: grab;
  overflow: hidden;
  width: 40%;
}

main {
  margin: 0 5%;
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 50%;
    height: 100%;
    overflow: visible;
  }

  main {
    margin: 0 1%;
  }

  .item {
    min-width: 100%;
    min-height: 100%;
  }
}