@font-face {
  font-family: black-gold;
  src: url(../font/Blackgold-qGAl.otf);
}

.logo {
  font-family: black-gold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  font-size: 56px;
  align-items: center;
  color: #303030;
}

.foto-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-items {
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
  color: #797979;
}

.logo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6vw;
  padding-top: 2%;
}

.content-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  font-size: 18px;
}

.nav-items {
  border-left: 2px solid transparent;
  transition: 0.5s;
  padding-left: 5px;
}

.nav-items:hover {
  border-left: 2px solid #499ea4;
}


@media screen and (max-width: 415px) {
  .content-nav {
    font-size: 8px;
  }

  .logo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  #logo-resp {
    margin-left: 25%;
  }

  .logo {
    font-size: 32px;
  }

  .foto-logo {
    font-size: 8px;
  }

  #hidenn {
    visibility: hidden;
  }
}